<h1>Let's Wolf Down Some Burgers!</h1>

<h2>Wolf! That! Burger!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Mmm... Delicious</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>What Burger Can I Get You?</h2>

<form class="create-form">

  <div>
    <label for="ca">Burger Name</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <div>
    <label for="ca">Burger Description</label>
    <input type="text" id="ca" name="description">
  </div>

  <div>
    <label for="devoured">Let's Eat!</label><br>
    <input type="radio" name="devoured" value="1"><br>
    <input type="radio" name="devoured" value="0"> Click to Eat!
  </div>

  <button type="submit">Order Up!</button>
</form>
